body {
  background-image: url("sticker_bomb_background.jpeg");
  color: #dcedff;
}

.contentDiv {
  display: none;
}

header {
  background-color: #0066ff;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 25px;
  border-color: #ffff00;
}

h1 {
  margin-top: 0;
  text-align: center;
}

.selfPhoto {
  height: 125px;
  width: 175px;
  transform: rotate(270deg);
  border-radius: 100px;
  border-width: 12px;
}

ul {
  padding: 0;
  text-align: right;
  margin-right: 10px;
}

li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navStuff {
  display: inline;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #dcedff;
  text-decoration: none;
  font-size: 30px;
}

.projectImg {
  height: 175px;
  width: 225px;
  transform: rotate(0);
  border-radius: 0px;
  float: left;
}

section {
  text-align: center;
  border-style: solid;
  border-width: 25px;
  border-color: #ffff00;
  background-color: #0066ff;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.projects {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (min-width: 400px) {
  h1 {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  li {
    display: inline-block;
    padding-top: 9px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10;
  }

  ul {
    text-align: center;
    margin-right: 0;
    margin-bottom: 0;
  }

  body {
    text-align: center;
  }

  section {
    width: 25%;
    display: inline-block;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .projDisplay {
    width: 75%;
  }

  .selfPhoto {
    position: absolute;
    left: 30px;
    top: 27px;
  }

  article {
    margin: auto;
  }

  h3 {
    text-align: center;
  }
}
