body {
  background-image: url("sticker_bomb_background.jpeg");
  color: #dcedff;
}

.contentDiv {
  display: none;
}

header {
  background-color: #0066ff;
}

h1, h2 {
  text-align: center;
}

.selfPhoto {
  height: 125px;
  width: 175px;
}

ul {
  text-align: right;
}

.navStuff {
  display: inline;
}

a {
  color: #dcedff;
}

.projectImg {
  height: 175px;
  width: 225px;
}

section {
  text-align: center;
}

input {
  color: black;
}

@media screen and (min-width: 400px) {
  li {
    display: inline-block;
  }

  ul {
    text-align: center;
  }

  body {
    text-align: center;
  }

  section {
    width: 25%;
    display: inline-block;
  }

  .projDisplay {
    width: 75%;
  }

  .selfPhoto {
    position: absolute;
    left: 30px;
    top: 27px;
  }

  h3 {
    text-align: center;
  }
}
