header {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 25px;
  border-color: #ffff00;
}

h1, h2 {
  margin-top: 0;
}

.selfPhoto {
  transform: rotate(270deg);
  border-radius: 100px;
  border-width: 12px;
}

ul {
  padding: 0;
  margin-right: 10px;
}

li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navStuff {
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  font-size: 30px;
}

.projectImg {
  transform: rotate(0);
  border-radius: 0px;
  float: left;
}

section {
  border-style: solid;
  border-width: 25px;
  border-color: #ffff00;
  background-color: #0066ff;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

#about-me-edit {
  height: 200px;
  color: black;
  display: block;
  margin: auto;
}

.projects {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (min-width: 400px) {
  h1 {
    margin-bottom: 5px;
    margin-top: 10px;
  }

  li {
    padding-top: 9px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10;
  }

  ul {
    margin-right: 0;
    margin-bottom: 0;
  }

  section {
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }

  article {
    margin: auto;
  }
}
